@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700"); /* import Montserrat font  */

* {
    box-sizing: border-box;
}

body,
html {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    margin: 0;
}

body {
   
    background-size: cover;
}

#home-container {
    display: grid;
    grid-template-columns: 10px 1fr 10px; /* for left and right sections */
    grid-template-rows: 10px 1fr 1fr 10px;
    grid-gap: 20px;
    height: 100vh;
}

#inner {
    grid-row: 2;
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

#illustration {
    grid-row: 3;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    width: 100%;
    padding: 10px;
}

@media (min-width: 768px) {
    #home-container {
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
        grid-template-rows: 1fr;
    }
    #inner {
        grid-column: 2;
        grid-row: 1;
    }

    #illustration {
        grid-column: 3;
        grid-row: 1;
    }
}

img#logo {
    width: 130px;
    margin-bottom: 1.6em;
}

h1 {
    text-transform: uppercase;
    color: #535353;
    margin-bottom: 0.2em;
}

p.subtitle {
    font-size: 1.4em;
    color: #858585;
    margin-top: 0;
}

.cta {
    background-color: #09bbe9;
    padding: 1em;
    color: #fff;
    font-weight: bold;
    margin-top: 2em;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(9, 187, 233, .2);
}

.cta:hover,
.cta:focus {
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.50, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.50, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.50, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.50, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(9, 187, 233, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(9, 187, 233, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(9, 187, 233, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 20px rgba(9, 187, 233, 0);}}

